@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
    height: 100%;
    font-family: "GmarketSans";
}

.p-breadcrumb .p-menuitem-text {
    line-height: inherit !important;
}
